# Joining data with pandas

## Data merging basics

In [1]:
# Assuming your Jupyter Notebook is in the exercises folder
# You want to access the file taxi_owners.p in the datasets folder

import os
import pickle
import pandas as pd

# Get the current directory
current_directory = os.getcwd()

# Navigate to the datasets folder
datasets_directory = os.path.join(current_directory, '..', 'datasets')

# Check if the file exists in the datasets folder
file_path = os.path.join(datasets_directory, 'taxi_owners.p')

if os.path.exists(file_path):
    # File exists, so open it
    with open(file_path, 'rb') as file:
        data = pickle.load(file)
    # Work with the 'data' object as needed
    print("File opened successfully!")
else:
    print("File not found.")
taxi_owners = data

File opened successfully!

In [2]:
taxi_owners

        rid   vid             owner                 address    zip
0     T6285  6285    AGEAN TAXI LLC     4536 N. ELSTON AVE.  60630
1     T4862  4862      MANGIB CORP.  5717 N. WASHTENAW AVE.  60659
2     T1495  1495     FUNRIDE, INC.     3351 W. ADDISON ST.  60618
3     T4231  4231      ALQUSH CORP.   6611 N. CAMPBELL AVE.  60645
4     T5971  5971    EUNIFFORD INC.     3351 W. ADDISON ST.  60618
...     ...   ...               ...                     ...    ...
3514  T4453  4453   IMAGIN CAB CORP     3351 W. ADDISON ST.  60618
3515   T121   121  TRIBECA CAB CORP     4536 N. ELSTON AVE.  60630
3516  T3465  3465  AMIR EXPRESS INC     3351 W. ADDISON ST.  60618
3517  T1962  1962  KARY CAB COMPANY     4707 N. KENTON AVE.  60630
3518  T1031  1031       NECT 42 LLC    6500 N. WESTERN AVE.  60645

[3519 rows x 5 columns]

In [3]:
# Get the current directory
current_directory = os.getcwd()

# Navigate to the datasets folder
datasets_directory = os.path.join(current_directory, '..', 'datasets')

# Check if the file exists in the datasets folder
file_path = os.path.join(datasets_directory, 'taxi_vehicles.p')

try:
    if os.path.exists(file_path):
        # File exists, so open it
        with open(file_path, 'rb') as file:
            data = pickle.load(file)
        # Work with the 'data' object as needed
        print("File opened successfully!")
        taxi_vehicles = data
    else:
        print("File not found.")
except Exception as e:
    print(f"An error occurred: {e}")
    taxi_vehicles = None  # Assigning None to 'taxi_vehicles' if an error occurs

taxi_veh = data

File opened successfully!

In [4]:
taxi_veh

       vid     make    model  year  fuel_type                owner
0     2767   TOYOTA    CAMRY  2013     HYBRID       SEYED M. BADRI
1     1411   TOYOTA     RAV4  2017     HYBRID          DESZY CORP.
2     6500   NISSAN   SENTRA  2019   GASOLINE       AGAPH CAB CORP
3     2746   TOYOTA    CAMRY  2013     HYBRID  MIDWEST CAB CO, INC
4     5922   TOYOTA    CAMRY  2013     HYBRID       SUMETTI CAB CO
...    ...      ...      ...   ...        ...                  ...
3514  5902   TOYOTA    CAMRY  2013     HYBRID            SAFAR INC
3515  1407  HYUNDAI  ELANTRA  2018   GASOLINE    MYKONOS CAB CORP.
3516   854   TOYOTA    CAMRY  2012     HYBRID      JOELIZ CORP INC
3517  6274   TOYOTA    CAMRY  2012     HYBRID          A K O S INC
3518  4675     FORD   ESCAPE  2011  FLEX FUEL           MAJAZ CORP

[3519 rows x 6 columns]

## Your first inner join
You have been tasked with figuring out what the most popular types of fuel used in Chicago taxis are. To complete the analysis, you need to merge the `taxi_owners` and `taxi_veh` tables together on the `vid` column. You can then use the merged table along with the `.value_counts()` method to find the most common `fuel_type`.

Since you'll be working with pandas throughout the course, the package will be preloaded for you as pd in each exercise in this course. Also the `taxi_owners` and `taxi_veh` DataFrames are loaded for you.

### Instructions 1/3
1. Merge `taxi_owners` with `taxi_veh` on the column `vid`, and save the result to `taxi_own_veh`.

In [5]:
# Merge the taxi_owners and taxi_veh tables
taxi_own_veh = taxi_owners.merge(taxi_veh, on='vid')

# Print the column names of the taxi_own_veh
print(taxi_own_veh.columns)

Index(['rid', 'vid', 'owner_x', 'address', 'zip', 'make', 'model', 'year',
       'fuel_type', 'owner_y'],
      dtype='object')

### Instructions 2/3

Set the left and right table suffixes for overlapping columns of the merge to `_own` and `_veh`, respectively.

In [6]:
# Merge the taxi_owners and taxi_veh tables setting a suffix
taxi_own_veh = taxi_owners.merge(taxi_veh, on='vid', suffixes=('_own', '_veh'))

# Print the column names of taxi_own_veh
print(taxi_own_veh.columns)

Index(['rid', 'vid', 'owner_own', 'address', 'zip', 'make', 'model', 'year',
       'fuel_type', 'owner_veh'],
      dtype='object')

### Instructions 3/3

Select the `fuel_type` column from `taxi_own_veh` and print the `value_counts()` to find the most popular `fuel_types` used.

In [7]:
# Merge the taxi_owners and taxi_veh tables setting a suffix
taxi_own_veh = taxi_owners.merge(taxi_veh, on='vid', suffixes=('_own','_veh'))

# Print the value_counts to find the most popular fuel_type
print(taxi_own_veh['fuel_type'].value_counts())

HYBRID                    2792
GASOLINE                   611
FLEX FUEL                   89
COMPRESSED NATURAL GAS      27
Name: fuel_type, dtype: int64

In [8]:
# File path for wards.p
ward_file_path = os.path.join(datasets_directory, 'ward.p')

# Load wards.p if it exists as a DataFrame named 'wards'
if os.path.exists(ward_file_path):
    with open(ward_file_path, 'rb') as file:
        wards = pd.DataFrame(pickle.load(file))
        print("File 'ward.p' opened and stored in 'wards' DataFrame.")
else:
    print("File 'ward.p' not found.")

print(wards)

File 'ward.p' opened and stored in 'wards' DataFrame.
   ward                   alderman                            address    zip
0     1         Proco "Joe" Moreno          2058 NORTH WESTERN AVENUE  60647
1     2              Brian Hopkins         1400 NORTH  ASHLAND AVENUE  60622
2     3                 Pat Dowell            5046 SOUTH STATE STREET  60609
3     4           William D. Burns    435 EAST 35TH STREET, 1ST FLOOR  60616
4     5         Leslie A. Hairston              2325 EAST 71ST STREET  60649
5     6         Roderick T. Sawyer   8001 S. MARTIN LUTHER KING DRIVE  60619
6     7        Gregory I. Mitchell              2249 EAST 95TH STREET  60617
7     8         Michelle A. Harris    8539 SOUTH COTTAGE GROVE AVENUE  60619
8     9           Anthony A. Beale                34 EAST 112TH PLACE  60628
9    10      Susan Sadlowski Garza           10500 SOUTH EWING AVENUE  60617
10   11     Patrick Daley Thompson          3659 SOUTH HALSTED STREET  60609
11   12            George Cardenas           3476 SOUTH ARCHER AVENUE  60608
12   13                Marty Quinn            6500 SOUTH PULASKI ROAD  60629
13   14            Edward M. Burke              2650 WEST 51ST STREET  60632
14   15           Raymond A. Lopez              1650 WEST 63RD STREET  60636
15   16            Toni L. Foulkes              3045 WEST 63RD STREET  60629
16   17             David H. Moore          7313 SOUTH ASHLAND AVENUE  60636
17   18          Derrick G. Curtis            8359 SOUTH PULASKI ROAD  60652
18   19          Matthew J. O'Shea         10400 SOUTH WESTERN AVENUE  60643
19   20          Willie B. Cochran    6357 SOUTH COTTAGE GROVE AVENUE  60637
20   21    Howard B. Brookins, Jr.  9011 SOUTH ASHLAND AVENUE, UNIT B  60620
21   22              Ricardo Munoz        2500 SOUTH ST. LOUIS AVENUE  60623
22   23        Michael R. Zalewski           6247 SOUTH ARCHER AVENUE  60638
23   24         Michael Scott, Jr.           1158 SOUTH KEELER AVENUE  60624
24   25       Daniel "Danny" Solis      1800 SOUTH BLUE ISLAND AVENUE  60608
25   26          Roberto Maldonado          2511 WEST DIVISION STREET  60622
26   27        Walter Burnett, Jr.             4 NORTH WESTERN AVENUE  60612
27   28             Jason C. Ervin              2602 WEST 16TH STREET  60612
28   29           Chris Taliaferro             6272 WEST NORTH AVENUE  60639
29   30          Ariel E. Reyboras        3559 NORTH MILWAUKEE AVENUE  60641
30   31  Milagros "Milly" Santiago            2521 NORTH PULASKI ROAD  60639
31   32           Scott Waguespack         2657 NORTH CLYBOURN AVENUE  60614
32   33               Deborah Mell         3001 WEST IRVING PARK ROAD  60618
33   34           Carrie M. Austin              507 WEST 111TH STREET  60628
34   35        Carlos Ramirez-Rosa           2710 NORTH SAWYER AVENUE  60647
35   36           Gilbert Villegas                 6934 WEST DIVERSEY  60607
36   37              Emma M. Mitts           4924 WEST CHICAGO AVENUE  60651
37   38           Nicholas Sposato          3821  NORTH HARLEM AVENUE  60634
38   39           Margaret Laurino          4404 WEST LAWRENCE AVENUE  60630
39   40        Patrick J. O'Connor          5850 NORTH LINCOLN AVENUE  60659
40   41      Anthony V. Napolitano           7442 NORTH HARLEM AVENUE  60631
41   42             Brendan Reilly   325 WEST HURON STREET, SUITE 510  60654
42   43             Michelle Smith          2523 NORTH HALSTED STREET  60614
43   44                 Tom Tunney        3223 NORTH SHEFFIELD AVENUE  60657
44   45              John S. Arena        4754 NORTH MILWAUKEE AVENUE  60630
45   46            James Cappleman         4544 NORTH BROADWAY AVENUE  60640
46   47                Ameya Pawar          4243 NORTH LINCOLN AVENUE  60618
47   48             Harry Osterman         5533 NORTH BROADWAY AVENUE  60640
48   49                  Joe Moore        7356 NORTH GREENVIEW AVENUE  60626
49   50       Debra L. Silverstein    2949 WEST DEVON AVENUE, SUITE A  60659

In [9]:
# File path for census.p
census_file_path = os.path.join(datasets_directory, 'census.p')

# Load census.p if it exists as a DataFrame named 'census'
if os.path.exists(census_file_path):
    with open(census_file_path, 'rb') as file:
        census = pd.DataFrame(pickle.load(file))
        print("File 'census.p' opened and stored in 'census' DataFrame.")
else:
    print("File 'census.p' not found.")
    
print(census.head())

File 'census.p' opened and stored in 'census' DataFrame.
  ward  pop_2000  pop_2010 change                                  address  \
0    1     52951     56149     6%              2765 WEST SAINT MARY STREET
1    2     54361     55805     3%                 WM WASTE MANAGEMENT 1500
2    3     40385     53039    31%                      17 EAST 38TH STREET
3    4     51953     54589     5%  31ST ST HARBOR BUILDING LAKEFRONT TRAIL
4    5     55302     51455    -7%  JACKSON PARK LAGOON SOUTH CORNELL DRIVE

     zip
0  60647
1  60622
2  60653
3  60653
4  60637

## Inner joins and number of rows returned

All the merges you have studied to this point are called inner joins. It is necessary to understand that inner joins only return the rows with matching values in both tables. You will explore this further by reviewing the merge between the `wards` and `census` tables, then comparing it to merges of copies of these tables that are slightly altered, named `wards_altered`, and `census_altered`. The first row of the wards column has been changed in the altered tables. You will examine how this affects the merge between them. The tables have been loaded for you.

For this exercise, it is important to know that the `wards` and `census` tables start with 50 rows.

### Instructions 1/3

Merge `wards` and `census` on the `ward` column and save the result to `wards_census`.

In [10]:
# Merge the wards and census tables on the ward column
wards_census = wards.merge(census, on='ward')

# Print the shape of wards_census
print('wards_census table shape:', wards_census.shape)

print(wards_census)

wards_census table shape: (50, 9)
   ward                   alderman                          address_x  zip_x  \
0     1         Proco "Joe" Moreno          2058 NORTH WESTERN AVENUE  60647
1     2              Brian Hopkins         1400 NORTH  ASHLAND AVENUE  60622
2     3                 Pat Dowell            5046 SOUTH STATE STREET  60609
3     4           William D. Burns    435 EAST 35TH STREET, 1ST FLOOR  60616
4     5         Leslie A. Hairston              2325 EAST 71ST STREET  60649
5     6         Roderick T. Sawyer   8001 S. MARTIN LUTHER KING DRIVE  60619
6     7        Gregory I. Mitchell              2249 EAST 95TH STREET  60617
7     8         Michelle A. Harris    8539 SOUTH COTTAGE GROVE AVENUE  60619
8     9           Anthony A. Beale                34 EAST 112TH PLACE  60628
9    10      Susan Sadlowski Garza           10500 SOUTH EWING AVENUE  60617
10   11     Patrick Daley Thompson          3659 SOUTH HALSTED STREET  60609
11   12            George Cardenas           3476 SOUTH ARCHER AVENUE  60608
12   13                Marty Quinn            6500 SOUTH PULASKI ROAD  60629
13   14            Edward M. Burke              2650 WEST 51ST STREET  60632
14   15           Raymond A. Lopez              1650 WEST 63RD STREET  60636
15   16            Toni L. Foulkes              3045 WEST 63RD STREET  60629
16   17             David H. Moore          7313 SOUTH ASHLAND AVENUE  60636
17   18          Derrick G. Curtis            8359 SOUTH PULASKI ROAD  60652
18   19          Matthew J. O'Shea         10400 SOUTH WESTERN AVENUE  60643
19   20          Willie B. Cochran    6357 SOUTH COTTAGE GROVE AVENUE  60637
20   21    Howard B. Brookins, Jr.  9011 SOUTH ASHLAND AVENUE, UNIT B  60620
21   22              Ricardo Munoz        2500 SOUTH ST. LOUIS AVENUE  60623
22   23        Michael R. Zalewski           6247 SOUTH ARCHER AVENUE  60638
23   24         Michael Scott, Jr.           1158 SOUTH KEELER AVENUE  60624
24   25       Daniel "Danny" Solis      1800 SOUTH BLUE ISLAND AVENUE  60608
25   26          Roberto Maldonado          2511 WEST DIVISION STREET  60622
26   27        Walter Burnett, Jr.             4 NORTH WESTERN AVENUE  60612
27   28             Jason C. Ervin              2602 WEST 16TH STREET  60612
28   29           Chris Taliaferro             6272 WEST NORTH AVENUE  60639
29   30          Ariel E. Reyboras        3559 NORTH MILWAUKEE AVENUE  60641
30   31  Milagros "Milly" Santiago            2521 NORTH PULASKI ROAD  60639
31   32           Scott Waguespack         2657 NORTH CLYBOURN AVENUE  60614
32   33               Deborah Mell         3001 WEST IRVING PARK ROAD  60618
33   34           Carrie M. Austin              507 WEST 111TH STREET  60628
34   35        Carlos Ramirez-Rosa           2710 NORTH SAWYER AVENUE  60647
35   36           Gilbert Villegas                 6934 WEST DIVERSEY  60607
36   37              Emma M. Mitts           4924 WEST CHICAGO AVENUE  60651
37   38           Nicholas Sposato          3821  NORTH HARLEM AVENUE  60634
38   39           Margaret Laurino          4404 WEST LAWRENCE AVENUE  60630
39   40        Patrick J. O'Connor          5850 NORTH LINCOLN AVENUE  60659
40   41      Anthony V. Napolitano           7442 NORTH HARLEM AVENUE  60631
41   42             Brendan Reilly   325 WEST HURON STREET, SUITE 510  60654
42   43             Michelle Smith          2523 NORTH HALSTED STREET  60614
43   44                 Tom Tunney        3223 NORTH SHEFFIELD AVENUE  60657
44   45              John S. Arena        4754 NORTH MILWAUKEE AVENUE  60630
45   46            James Cappleman         4544 NORTH BROADWAY AVENUE  60640
46   47                Ameya Pawar          4243 NORTH LINCOLN AVENUE  60618
47   48             Harry Osterman         5533 NORTH BROADWAY AVENUE  60640
48   49                  Joe Moore        7356 NORTH GREENVIEW AVENUE  60626
49   50       Debra L. Silverstein    2949 WEST DEVON AVENUE, SUITE A  60659

    pop_2000  pop_2010 change  \
0      52951     56149     6%
1      54361     55805     3%
2      40385     53039    31%
3      51953     54589     5%
4      55302     51455    -7%
5      54989     52341    -5%
6      54593     51581    -6%
7      54039     51687    -4%
8      52008     51519    -1%
9      56613     51535    -9%
10     64228     51497   -20%
11     68922     52235   -24%
12     64382     53722   -17%
13     80143     54031   -33%
14     56057     51501    -8%
15     50205     51954     3%
16     49264     51846     5%
17     55043     52992    -4%
18     54546     51525    -6%
19     51854     52372     1%
20     51751     51632     0%
21     59734     53515   -10%
22     63691     53728   -16%
23     50879     54909     8%
24     55954     54539    -3%
25     56841     53516    -6%
26     61287     52939   -14%
27     49423     55199    12%
28     61949     55267   -11%
29     72698     55560   -24%
30     65045     53724   -17%
31     57204     55184    -4%
32     63695     55598   -13%
33     49922     51599     3%
34     57588     55281    -4%
35     63376     54766   -14%
36     56120     51538    -8%
37     66011     56001   -15%
38     64291     55882   -13%
39     58652     55319    -6%
40     56127     55991     0%
41     68102     55870   -18%
42     57668     56170    -3%
43     58758     56058    -5%
44     60653     55967    -8%
45     56587     53784    -5%
46     52108     55074     6%
47     56246     55014    -2%
48     59435     54633    -8%
49     62383     55809   -11%

                                            address_y  zip_y
0                         2765 WEST SAINT MARY STREET  60647
1                            WM WASTE MANAGEMENT 1500  60622
2                                 17 EAST 38TH STREET  60653
3             31ST ST HARBOR BUILDING LAKEFRONT TRAIL  60653
4             JACKSON PARK LAGOON SOUTH CORNELL DRIVE  60637
5                                150 WEST 74TH STREET  60636
6                           8549 SOUTH OGLESBY AVENUE  60617
7                          1346-1352 EAST 75TH STREET  60649
8                  11039-11059 SOUTH WENTWORTH AVENUE  60628
9                                10534 SOUTH AVENUE F  46394
10                            943-947 WEST 14TH PLACE  60607
11                         CP 46 STEVENSON EXPRESSWAY  60632
12                    SOUTH RAMP SOUTH LARAMIE AVENUE  60638
13                              4540 WEST 51ST STREET  60632
14    CHICAGO FIRE DEPARTMENT ENGINE COMPANY 123 2215  60632
15                             6036 SOUTH WOOD STREET  60636
16                       7216 SOUTH WINCHESTER AVENUE  60636
17                          3286 WEST COLUMBUS AVENUE  60652
18                        9999 SOUTH FRANCISCO AVENUE  60805
19                     DAN RYAN EXPRESSWAY PARK MANOR  60621
20                     8852-8854 SOUTH EMERALD AVENUE  60620
21                              4233 WEST 36TH STREET  60632
22  CHICAGO MIDWAY INTERNATIONAL AIRPORT WEST 62ND...  60629
23                       1635 SOUTH CHRISTIANA AVENUE  60623
24                      1632-1746 SOUTH MILLER STREET  60608
25             LITTLE CUBS FIELD COMFORT STATION 1400  60622
26                      2151-2153 WEST CHICAGO AVENUE  60651
27                        RML SPECIALTY HOSPITAL 3435  60624
28                        1241 NORTH RIDGELAND AVENUE  60302
29                          5118 WEST FLETCHER STREET  60641
30                          2854 NORTH KEATING AVENUE  60641
31                        2901 NORTH WASHTENAW AVENUE  60618
32                    4041-4043 NORTH RICHMOND STREET  60625
33                    11544-11546 SOUTH PEORIA STREET  60827
34                           3634 WEST BELMONT AVENUE  60618
35                       2918 NORTH RUTHERFORD AVENUE  60634
36                         4738-4748 WEST RICE STREET  60651
37                    7307-7331 WEST IRVING PARK ROAD  60706
38                  QUEEN OF ALL SAINTS BASILICA 6280  60646
39                         5536 NORTH ARTESIAN AVENUE  60645
40                          1652 SOUTH CLIFTON AVENUE  60068
41                          410-420 WEST GRAND AVENUE  60654
42                              LINCOLN PARK ZOO 2001  60614
43                         507-513 WEST ALDINE AVENUE  60657
44       CONGREGATIONAL CHURCH OF JEFFERSON PARK 5320  60630
45                 UPTOWN BROADWAY BUILDING 4743-4763  60640
46                           2153 WEST BERTEAU AVENUE  60618
47                         1025 WEST HOLLYWOOD AVENUE  60660
48                             1426 WEST ESTES AVENUE  60645
49                       2638 WEST NORTH SHORE AVENUE  60645

### Instructions 2/3

Merge the `wards_altered` and `census` tables on the `ward` column, and notice the difference in returned rows.

In [11]:
# Assuming 'wards' and 'census' are your DataFrames

# Create a copy of 'wards' DataFrame to perform alterations
wards_altered = wards.copy()

# Convert 'ward' column to integer type in 'wards_altered'
wards_altered['ward'] = wards_altered['ward'].astype(int)

# Add 60 to the first element in the 'ward' column in 'wards_altered'
wards_altered.loc[0, 'ward'] += 60

# Print the first few rows of the wards_altered table to view the change 
print(wards_altered[['ward']].head())

# Check if 'ward' column in 'census' can be converted to integer type
if census['ward'].astype(str).str.isdigit().all():
    # Convert 'ward' column in 'census' to integer type
    census['ward'] = census['ward'].astype(int)

    # Merge the 'wards_altered' and 'census' tables on the 'ward' column
    wards_altered_census = wards_altered.merge(census, on='ward')
    print('wards_altered_census table shape:', wards_altered_census.shape)
else:
    print("Unable to convert 'ward' column in census DataFrame to integer type for merging.")

   ward
0    61
1     2
2     3
3     4
4     5
wards_altered_census table shape: (49, 9)

### Instructions 3/3

Merge the `wards` and `census_altered` tables on the `ward` column, and notice the difference in returned rows.

In [12]:
# Assuming 'wards' and 'census' are your DataFrames

# Create a copy of the first column of 'census' DataFrame and assign it to 'census_altered'
census_altered = census.iloc[:, [0]].copy()

# Set the 'ward' column to string type to allow for 'None' values
census_altered['ward'] = census_altered['ward'].astype(str)

# Set the first element in the 'ward' column to 'None'
census_altered.loc[0, 'ward'] = 'None'

# Convert 'ward' column in 'wards' to string type
wards['ward'] = wards['ward'].astype(str)

# Merge the 'wards' and 'census_altered' tables on the 'ward' column
wards_census_altered = wards.merge(census_altered, on='ward')

# Print the first few rows of the census_altered table to view the change 
print(census_altered[['ward']].head())

# Print the shape of wards_census_altered
print('wards_census_altered table shape:', wards_census_altered.shape)

   ward
0  None
1     2
2     3
3     4
4     5
wards_census_altered table shape: (49, 4)

## One-to-many merge
A business may have one or multiple owners. In this exercise, you will continue to gain experience with one-to-many merges by merging a table of business owners, called `biz_owners`, to the `licenses` table. Recall from the lesson, with a one-to-many relationship, a row in the left table may be repeated if it is related to multiple rows in the right table. In this lesson, you will explore this further by finding out what is the most common business owner title. (i.e., secretary, CEO, or vice president)

The `licenses` and `biz_owners` DataFrames are loaded for you.

In [13]:

# Get the current directory
current_directory = os.getcwd()

# Navigate to the datasets folder
datasets_directory = os.path.join(current_directory, '..', 'datasets')

# Check if the file exists in the datasets folder
file_path = os.path.join(datasets_directory, 'licenses.p')

if os.path.exists(file_path):
    # File exists, so open it
    with open(file_path, 'rb') as file:
        data = pickle.load(file)
    # Work with the 'data' object as needed
    print("File opened successfully!")
else:
    print("File not found.")
licenses = data
print(licenses.head())

File opened successfully!
  account ward  aid                   business               address    zip
0  307071    3  743       REGGIE'S BAR & GRILL       2105 S STATE ST  60616
1      10   10  829                 HONEYBEERS   13200 S HOUSTON AVE  60633
2   10002   14  775                CELINA DELI     5089 S ARCHER AVE  60632
3   10005   12  NaN  KRAFT FOODS NORTH AMERICA        2005 W 43RD ST  60609
4   10044   44  638  NEYBOUR'S TAVERN & GRILLE  3651 N SOUTHPORT AVE  60613

In [14]:
# Get the current directory
current_directory = os.getcwd()

# Navigate to the datasets folder
datasets_directory = os.path.join(current_directory, '..', 'datasets')

# Check if the file exists in the datasets folder
file_path = os.path.join(datasets_directory, 'business_owners.p')

if os.path.exists(file_path):
    # File exists, so open it
    with open(file_path, 'rb') as file:
        data = pickle.load(file)
    # Work with the 'data' object as needed
    print("File opened successfully!")
else:
    print("File not found.")
biz_owners = data

print(biz_owners.head())

File opened successfully!
  account first_name  last_name      title
0      10      PEARL    SHERMAN  PRESIDENT
1      10      PEARL    SHERMAN  SECRETARY
2   10002     WALTER     MROZEK    PARTNER
3   10002     CELINA     BYRDAK    PARTNER
4   10005      IRENE  ROSENFELD  PRESIDENT

### Instructions

- Starting with the `licenses` table on the left, merge it to the `biz_owners` table on the column `account`, and save the results to a variable named `licenses_owners`.
- Group `licenses_owners` by `title` and count the number of accounts for each title. Save the result as `counted_df`
- Sort `counted_df` by the number of ***accounts*** in ***descending order***, and save this as a variable named `sorted_df`.
- Use the `.head()` method to print the first few rows of the `sorted_df`.

In [15]:
# Merge the licenses and biz_owners table on account
licenses_owners = licenses.merge(biz_owners, on='account')

# Group the results by title then count the number of accounts
counted_df = licenses_owners.groupby('title').agg({'account':'count'})

# Sort the counted_df in desending order
sorted_df = counted_df.sort_values(by='account', ascending = False)

# Use .head() method to print the first few rows of sorted_df
print(sorted_df.head())

                 account
title
PRESIDENT           6259
SECRETARY           5205
SOLE PROPRIETOR     1658
OTHER               1200
VICE PRESIDENT       970

## Total riders in a month
Your goal is to find the total number of rides provided to passengers passing through the Wilson station (`station_name == 'Wilson'`) when riding Chicago's public transportation system on weekdays (`day_type == 'Weekday'`) in July (month == 7). Luckily, Chicago provides this detailed data, but it is in three different tables. You will work on merging these tables together to answer the question. This data is different from the business related data you have seen so far, but all the information you need to answer the question is provided.

The `cal`, `ridership`, and `stations` DataFrames have been loaded for you. The relationship between the tables can be seen in the diagram below.

![The relationship between the tables](../datasets/cta_L_diagram.png)

In [16]:
# Get the current directory
current_directory = os.getcwd()

# Navigate to the datasets folder
datasets_directory = os.path.join(current_directory, '..', 'datasets')

# Check if the file exists in the datasets folder
file_path = os.path.join(datasets_directory, 'cta_calendar.p')

if os.path.exists(file_path):
    # File exists, so open it
    with open(file_path, 'rb') as file:
        data = pickle.load(file)
    # Work with the 'data' object as needed
    print("File opened successfully!")
else:
    print("File not found.")
cal = data

print(cal.head())

File opened successfully!
   year  month  day        day_type
0  2019      1    1  Sunday/Holiday
1  2019      1    2         Weekday
2  2019      1    3         Weekday
3  2019      1    4         Weekday
4  2019      1    5        Saturday

In [17]:
# Get the current directory
current_directory = os.getcwd()

# Navigate to the datasets folder
datasets_directory = os.path.join(current_directory, '..', 'datasets')

# Check if the file exists in the datasets folder
file_path = os.path.join(datasets_directory, 'cta_ridership.p')

if os.path.exists(file_path):
    # File exists, so open it
    with open(file_path, 'rb') as file:
        data = pickle.load(file)
    # Work with the 'data' object as needed
    print("File opened successfully!")
else:
    print("File not found.")
ridership = data

print(ridership.head())

File opened successfully!
  station_id  year  month  day  rides
0      40010  2019      1    1    576
1      40010  2019      1    2   1457
2      40010  2019      1    3   1543
3      40010  2019      1    4   1621
4      40010  2019      1    5    719

In [18]:
# Get the current directory
current_directory = os.getcwd()

# Navigate to the datasets folder
datasets_directory = os.path.join(current_directory, '..', 'datasets')

# Check if the file exists in the datasets folder
file_path = os.path.join(datasets_directory, 'stations.p')

if os.path.exists(file_path):
    # File exists, so open it
    with open(file_path, 'rb') as file:
        data = pickle.load(file)
    # Work with the 'data' object as needed
    print("File opened successfully!")
else:
    print("File not found.")
stations = data

print(stations.head())

File opened successfully!
  station_id        station_name                 location
0      40010  Austin-Forest Park  (41.870851, -87.776812)
1      40020         Harlem-Lake  (41.886848, -87.803176)
2      40030        Pulaski-Lake  (41.885412, -87.725404)
3      40040        Quincy/Wells   (41.878723, -87.63374)
4      40050               Davis   (42.04771, -87.683543)

### Instructions 1/3

Merge the `ridership` and `cal` tables together, starting with the `ridership` table on the left and save the result to the variable `ridership_cal`. If you code takes too long to run, your merge conditions might be incorrect.

In [19]:
# Merge the ridership and cal tables
ridership_cal = ridership.merge(cal)

### Instructions 2/3

Extend the previous merge to three tables by also merging the `stations` table.

In [20]:
# Merge the ridership, cal, and stations tables
ridership_cal_stations = ridership.merge(cal, on=['year','month','day']) \
    .merge(stations, on=['station_id'])

print(ridership_cal_stations)

     station_id  year  month  day  rides        day_type        station_name  \
0         40010  2019      1    1    576  Sunday/Holiday  Austin-Forest Park
1         40010  2019      1    2   1457         Weekday  Austin-Forest Park
2         40010  2019      1    3   1543         Weekday  Austin-Forest Park
3         40010  2019      1    4   1621         Weekday  Austin-Forest Park
4         40010  2019      1    5    719        Saturday  Austin-Forest Park
...         ...   ...    ...  ...    ...             ...                 ...
3280      41660  2019     12   27  13898         Weekday          Lake/State
3281      41660  2019     12   28   9485        Saturday          Lake/State
3282      41660  2019     12   29   7581  Sunday/Holiday          Lake/State
3283      41660  2019     12   30  15332         Weekday          Lake/State
3284      41660  2019     12   31  13430         Weekday          Lake/State

                     location
0     (41.870851, -87.776812)
1     (41.870851, -87.776812)
2     (41.870851, -87.776812)
3     (41.870851, -87.776812)
4     (41.870851, -87.776812)
...                       ...
3280  (41.884809, -87.627813)
3281  (41.884809, -87.627813)
3282  (41.884809, -87.627813)
3283  (41.884809, -87.627813)
3284  (41.884809, -87.627813)

[3285 rows x 8 columns]

### Instructions 3/3

Create a variable called `filter_criteria` to select the appropriate rows from the merged table so that you can sum the `rides` column.

In [21]:
# Merge the ridership, cal, and stations tables
ridership_cal_stations = ridership.merge(cal, on=['year','month','day']) \
    .merge(stations, on='station_id')

# Create a filter to filter ridership_cal_stations
filter_criteria = ((ridership_cal_stations['month'] == 7)
                   & (ridership_cal_stations['day_type'] == 'Weekday')
                   & (ridership_cal_stations['station_name'] == 'Wilson'))

# Use .loc and the filter to select for rides
print(ridership_cal_stations.loc[filter_criteria, 'rides'].sum())

140005

## Three table merge
To solidify the concept of a three DataFrame merge, practice another exercise. A reasonable extension of our review of Chicago business data would include looking at demographics information about the neighborhoods where the businesses are. A table with the median income by zip code has been provided to you. You will merge the licenses and wards tables with this new income-by-zip-code table called zip_demo.

The `licenses`, `wards`, and `zip_demo` DataFrames have been loaded for you.

In [22]:
# Get the current directory
current_directory = os.getcwd()

# Navigate to the datasets folder
datasets_directory = os.path.join(current_directory, '..', 'datasets')

# Check if the file exists in the datasets folder
file_path = os.path.join(datasets_directory, 'zip_demo.p')

if os.path.exists(file_path):
    # File exists, so open it
    with open(file_path, 'rb') as file:
        data = pickle.load(file)
    # Work with the 'data' object as needed
    print("File opened successfully!")
else:
    print("File not found.")
zip_demo = data

print(zip_demo.head())

File opened successfully!
     zip  income
0  60630   70122
1  60640   50488
2  60622   87143
3  60614  100116
4  60608   41226

In [23]:
# Merge licenses and zip_demo, on zip; and merge the wards on ward
licenses_zip_ward = licenses.merge(zip_demo, on=['zip']) \
    .merge(wards, on=['ward']) 

# Print the results by alderman and show median income
print(licenses_zip_ward.groupby('alderman').agg({'income':'median'}))

                             income
alderman
Ameya Pawar                 66246.0
Anthony A. Beale            38206.0
Anthony V. Napolitano       82226.0
Ariel E. Reyboras           41307.0
Brendan Reilly             110215.0
Brian Hopkins               87143.0
Carlos Ramirez-Rosa         66246.0
Carrie M. Austin            38206.0
Chris Taliaferro            55566.0
Daniel "Danny" Solis        41226.0
David H. Moore              33304.0
Deborah Mell                66246.0
Debra L. Silverstein        50554.0
Derrick G. Curtis           65770.0
Edward M. Burke             42335.0
Emma M. Mitts               36283.0
George Cardenas             33959.0
Gilbert Villegas            41307.0
Gregory I. Mitchell         24941.0
Harry Osterman              45442.0
Howard B. Brookins, Jr.     33304.0
James Cappleman             79565.0
Jason C. Ervin              41226.0
Joe Moore                   39163.0
John S. Arena               70122.0
Leslie A. Hairston          28024.0
Margaret Laurino            70122.0
Marty Quinn                 67045.0
Matthew J. O'Shea           59488.0
Michael R. Zalewski         42335.0
Michael Scott, Jr.          31445.0
Michelle A. Harris          32558.0
Michelle Smith             100116.0
Milagros "Milly" Santiago   41307.0
Nicholas Sposato            62223.0
Pat Dowell                  46340.0
Patrick Daley Thompson      41226.0
Patrick J. O'Connor         50554.0
Proco "Joe" Moreno          87143.0
Raymond A. Lopez            33959.0
Ricardo Munoz               31445.0
Roberto Maldonado           68223.0
Roderick T. Sawyer          32558.0
Scott Waguespack            68223.0
Susan Sadlowski Garza       38417.0
Tom Tunney                  88708.0
Toni L. Foulkes             27573.0
Walter Burnett, Jr.         87143.0
William D. Burns           107811.0
Willie B. Cochran           28024.0

## One-to-many merge with multiple tables
In this exercise, assume that you are looking to start a business in the city of Chicago. Your perfect idea is to start a company that uses goats to mow the lawn for other businesses. However, you have to choose a location in the city to put your goat farm. You need a location with a great deal of space and relatively few businesses and people around to avoid complaints about the smell. You will need to merge three tables to help you choose your location. The land_use table has info on the percentage of vacant land by city ward. The census table has population by ward, and the licenses table lists businesses by ward.

The `land_use`, census, and `licenses` tables have been loaded for you.

In [24]:
# Get the current directory
current_directory = os.getcwd()

# Navigate to the datasets folder
datasets_directory = os.path.join(current_directory, '..', 'datasets')

# Check if the file exists in the datasets folder
file_path = os.path.join(datasets_directory, 'land_use.p')

if os.path.exists(file_path):
    # File exists, so open it
    with open(file_path, 'rb') as file:
        data = pickle.load(file)
    # Work with the 'data' object as needed
    print("File opened successfully!")
else:
    print("File not found.")
land_use = data

print(land_use.head())

File opened successfully!
  ward  residential  commercial  industrial  vacant  other
0    1           41           9           2       2     46
1    2           31          11           6       2     50
2    3           20           5           3      13     59
3    4           22          13           0       7     58
4    5           25           3           1       3     68

### Instructions 1/3

Merge `land_use` and `census` on the `ward` column. Merge the result of this with `licenses` on the `ward` column, using the suffix `_cen` for the left table and `_lic` for the right table. Save this to the variable `land_cen_lic`.

In [29]:
# Convert the 'ward' column in the land_use DataFrame to the same data type as other DataFrames
land_use['ward'] = land_use['ward'].astype(int)

# Merge land_use and census on the ward column
merged_data = pd.merge(land_use, census, on='ward')

# Convert the 'ward' column in the licenses DataFrame to the same data type
licenses['ward'] = licenses['ward'].astype(int)

# Merge merged_data and licenses on the ward column, providing suffixes for clarity
land_cen_lic = pd.merge(merged_data, licenses, on='ward', suffixes=('_cen', '_lic'))

### Instructions 2/3

Group `land_cen_lic` by `ward`, `pop_2010` (the population in 2010), and `vacant`, then count the number of `accounts`. Save the results to pop_vac_lic.

In [32]:
# Group by ward, pop_2010, and vacant, then count the # of accounts
pop_vac_lic = land_cen_lic.groupby(['ward','pop_2010', 'vacant'],
                                   as_index=False).agg({'account':'count'})

### Instructions 3/3

Sort `pop_vac_lic` by `vacant`, `account`, and `pop_2010` in descending, ascending, and ascending order respectively. Save it as `sorted_pop_vac_lic`.

In [33]:
# Sort pop_vac_lic and print the results
sorted_pop_vac_lic = pop_vac_lic.sort_values(by=['vacant', 'account', 'pop_2010'],
                                             ascending=[False, True, True])

# Print the top few rows of sorted_pop_vac_lic
print(sorted_pop_vac_lic.head())

    ward  pop_2010  vacant  account
6      7     51581      19       80
19    20     52372      15      123
9     10     51535      14      130
23    24     54909      13       98
15    16     51954      13      156